.mainProfile{
    position: relative;
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainProfileContent{
    width: 1000px;
}

.mainProfileInfos{
    display: flex;
    width: 100%;
    height: 180px;
    justify-content: space-around;
    align-items: center;
}

.mainProfileImage{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

.mainProfileInfosDesc{
    width: 613px;
    height: 100%;
}

.mainProfileTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mainProfileInfosDesc{
    padding: 0 20px 0 0;
}

.profileInfosButton{
    display: flex;
    align-items: center;
}

.profileInfosButton button{
    border-style: none;
    width: 74px;
    height: 30px;
    background-color: #FAFAFA;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.068);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}

.mainProfileNumbers{
    display: flex;
    width: 100%;
}

.mainProfileNumbers p{
    margin-top: 0;
    margin-right: 50px;
}

.mainProfileDesc{
    font-weight: 300;
}

.mainProfilePosts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    border-top: solid 1px rgba(0, 0, 0, 0.068);
    padding-top: 15px;

}

.mainProfilePostItem{
    position: relative;
    width: 100%;
    padding-top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mainProfilePostItemImage{
    top: 0;
    position: absolute;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    transition: .2s;
    width: 100%;
    height: 100%;
}

.mainProfilePostItemImage img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scale(1.1); 
    transition: .2s;
}

.mainProfilePostItemImage:hover{
    background-color: rgba(0, 0, 0, 0.315);
}

.mainProfilePostItemImage:hover img{
    filter: blur(5px);
}

.mainProfilePostItemImage:hover .mainProfileMiniInfos{
    opacity: 1;
}

.mainProfileMiniInfos{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainProfileMiniInfos div{
    display: flex;
    align-items: center;
    margin: 20px;
}

.mainProfileMiniInfos p{
    font-weight: 800;
    color: #fff;
    margin: 0 5px;
}

.mainError{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.mainError h2{
    margin: 0;
}

.mainError span{
    color: #0095F6;
    cursor: pointer;
}

@media (max-width:1000px){

    .mainProfilePosts{
        gap: 5px;
        margin: 0 5px;
    }

    .mainProfileContent{
        width: 100%;
    }

    .mainProfileInfos{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .mainProfileInfosDesc{
        position: relative;
        width: 100%;
        height: auto;
    }

    .mainProfileImage{
        height: 100px;
        width: 100px;
        /* position: absolute; */
        background-image: linear-gradient(301deg, rgba(0,255,19,1) 0%, rgba(0,129,214,1) 50%, rgba(182,0,255,1) 100%);
        padding: 2px;
    }

    .mainProfileImage img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .mainProfileTitle{
        display: flex;
        flex-direction: column;
        align-items: unset;
        margin-bottom: 15px;
    }

    .mainProfileNumbers p{
        display: flex;

    }

    .mainProfileNumbers p strong{
        margin-right: 5px;
    }
}